body{
    width: 70%;
    max-width: 740px;
    margin: auto;
    text-align: center;
    background-color: gray;
}
header{
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    color: #e0dfdc;
}
.main{
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 27px;
    max-height: 68px;
    background: white;
    border: 2px solid black;
    font-size: 25px;
}
.main input{
    width: 60px;
    font-size: 25px;
}
.resultado{
    height: auto;
    background: white;
    border: 4px solid black;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: start;
}
.sinalizacao{
    width: 200px;
    height: 380px;
}
.vel-sin{
    display: inline-flex;
    margin-top: 50px;
}
.sinalizacao__placa{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 15px solid red;
    border-radius: 50%;
    margin: auto;
    position: relative;
    box-shadow: -1px 3px 8px 5px #0000003B, 2px 5px 16px 0px #373B404A, -2px -13px 0px -7px rgba(0,0,0,0);
}
.sinalizacao__cabo{
    background-color: silver;
    width: 25px;
    height: 200px;
    border-radius: 15px;
    margin: auto;
    margin-top: -10px;
    box-shadow: inset -1px 3px 8px 5px #000000B3, 2px 5px 16px 0px #373B40, -2px -13px 0px -7px rgba(0,0,0,0);
}

@media screen and (max-width: 700px){
    body{
        width: unset;
    }
    .resultado{
        height: auto;
    }
    .vel-sin{
        display: unset;
    }
    .highcharts-figure div{
        margin: auto;
    }
    .sinalizacao{
        margin: auto;
    }
}